html {
  scroll-behavior: smooth;
}

.bg {
  padding: 0;
}

body {
  /* background-color: white; */
  /* background-image: url("media/bg7.jpeg"); */
  background-image: linear-gradient(to bottom right, darkorchid, blue, purple);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  /* background-position: center; */
  height: 100%;
  margin: 0;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.ul-pic {
  list-style-type: none;
  float: left;
  background-color: black;
  padding: 8px 16px;
  /* border-radius: 500%; */
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.name {
  font-size: 30px;
  padding: 0px 30px;
  font-family: "Lucida Handwriting", cursive;
  color: white;
}

li {
  float: right;
}

.a-navbar {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 20px;
  text-decoration: none;
  font-family: "Papyrus", fantasy;
  font-weight: bold;
  font-size: 28px;
}

.a-navbar:hover {
  color: orange;
}

.active {
  color: darkorchid;
}

.songs {
  margin: 20px 30px;
}

.area-1 {
  display: flex;
  background-color: transparent;
  color: white;
  align-items: center;
  border-radius: 34px;
  margin-top: 30px;
  height: 100px;
}

.songName {
  font-family: "Audiowide", sans-serif;
  font-size: 50px;
  font-weight: bold;
  padding: 0;
  margin-top: 60px;
  margin-left: 50px;
}

.song-info {
  font-family: "Papyrus", fantasy;
  font-weight: bold;
  font-size: 22px;
  margin-left: 170px;
  display: flex;
  width: 300px;
}

.timestamp {
  margin: 0 23px;
}

.timestamp i {
  cursor: pointer;
}

.info {
  position: sticky;
  height: 10px;
  width: 200px;
  background-color: white;
  color: black;
  padding: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 320px;
  /* margin-top: 1px; */
  border-radius: 50px;
}

.icons {
  margin-top: 8px;
}

.icons i {
  cursor: pointer;
}

#progressBar {
  width: 200px;
  cursor: pointer;
}

.area-2 {
  background-color: white;
  margin-top: 30px;
  border-radius: 50px;
  display: flex;
  color: black;
  align-items: center;
  border-radius: 34px;
  height: 150px;
}

.song-info-2 {
  font-family: "Papyrus", fantasy;
  font-weight: bold;
  font-size: 22px;
  margin-left: 160px;
  display: flex;
  width: 300px;
}

.info-2 {
  position: sticky;
  height: 20px;
  width: 200px;
  background-image: linear-gradient(to bottom right, mediumblue, darkorchid);
  color: white;
  padding: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 320px;
  /* margin-top: 1px; */
  border-radius: 50px;
}

#progressBar2 {
  width: 200px;
  cursor: pointer;
}
.area-3 {
  background-color: transparent;
  margin-top: 10px;
  height: 150px;
  border-radius: 50px;
  display: flex;
  color: white;
  align-items: center;
  border-radius: 34px;
}

.area-3 h1 {
  margin-left: 50px;
}

.info-3 {
  position: sticky;
  height: 20px;
  width: 200px;
  background-color: white;
  color: black;
  padding: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 320px;
  /* margin-top: 1px; */
  border-radius: 50px;
}

.song-info-3 {
  font-family: "Papyrus", fantasy;
  font-weight: bold;
  font-size: 22px;
  margin-left: 115px;
  display: flex;
  width: 300px;
}

#progressBar3 {
  width: 200px;
  cursor: pointer;
}

.area-4 {
  background-color: white;
  margin-top: 10px;
  height: 150px;
  border-radius: 50px;
  display: flex;
  color: black;
  align-items: center;
  border-radius: 34px;
}

.song-info-4 {
  font-family: "Papyrus", fantasy;
  font-weight: bold;
  font-size: 22px;
  margin-left: 207px;
  display: flex;
  width: 300px;
}

.info-4 {
  position: sticky;
  height: 20px;
  width: 200px;
  background-image: linear-gradient(
    to bottom right,
    darkorchid, mediumblue
  );
  color: white;
  padding: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 320px;
  /* margin-top: 1px; */
  border-radius: 50px;
}

#progressBar4 {
  width: 200px;
  cursor: pointer;
}

.area-5 {
  background-color: transparent;
  margin-top: 10px;
  height: 150px;
  border-radius: 50px;
  display: flex;
  color: white;
  align-items: center;
  border-radius: 34px;
}

.info-5 {
  position: sticky;
  height: 20px;
  width: 200px;
  background-color: white;
  color: black;
  padding: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 318px;
  /* margin-top: 1px; */
  border-radius: 50px;
}

.song-info-5 {
  font-family: "Papyrus", fantasy;
  font-weight: bold;
  font-size: 22px;
  margin-left: 134px;
  display: flex;
  width: 300px;
}

#progressBar5 {
  width: 200px;
  cursor: pointer;
}

.footer {
  background-color: black;
  margin-top: 100px;
  height: 230px;
}

.footer-1 {
  list-style-type: none;
  position: absolute;
  margin-top: 30px;
}

.footer-text-1 {
  color: white;
  list-style-type: none;
  position: absolute;
  margin-top: 30px;
  left: 500px;
  font-family: "Papyrus", fantasy;
  text-decoration: none;
}

.footer-heading {
  font-size: 20px;
}

.a-footer,
.a-footer:visited {
  color: white;
  text-decoration: none;
}

.footer-text-2 {
  color: white;
  list-style-type: none;
  position: absolute;
  margin-top: 30px;
  left: 900px;
  font-family: "Papyrus", fantasy;
  text-decoration: none;
}

.proud {
  color: white;
  font-family: "Papyrus", sans-serif;
  position: absolute;
  margin-left: 1300px;
  margin-top: 75px;
  font-size: 40px;
}
